{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "plugins": ["react"],
  "rules": {
    "import/no-extraneous-dependencies": [2, { "devDependencies": true } ],
    "no-underscore-dangle":["error",{"allow": ["_id"]}],
    "new-cap": ["error", {"capIsNewExceptions":["Router"]}],
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "comma-dangle": ["error", {"functions": "ignore"}],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": 0,
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "import/no-mutable-exports": [0],
    "react/forbid-prop-types": [1, { "forbid": ["any", "array", "object"]}],
    "react/prop-types": [1, { "ignore": ["handleSubmit","submitting"] }],
    "jsx-a11y/label-has-for": [ 0, { "components": [ "Label" ],"required": {"some": [ "nesting", "id" ]},"allowChildren": false}]
  }
}
 // "object-curly-newline": [0, { "multiline": true, "minProperties": 4 }],